# Folders to ignore
.vscode/
__pycache__/
venv/
.idea/
local/

# Specific folders to ignore
/env/
/dist/
/build/
/output/

# Specific files
*.log
/src/imgui.ini
/src/logs/TRANSFORMATION_HELPER.log
/src/input/test_inputs/GRD_450MB.grd
/test/output/files/test_model_temp.nc
/imgui.ini
/resources/sample_netcdf/GRD_450MB.grd
/resources/test_resources/expected_data/netcdf/temp_filter_1.nc
/resources/test_resources/temp/
